aside.main-sidebar
    section.sidebar
        .user-panel
            .pull-left.image
                img(src='/adminlte/dist/img/user8-128x128.jpg',alt='User Image').img-align-left.img-circle
            .pull-left.info
                p Safira Wulandari
                a(href='#')
                    i.fa.fa-globe-europe.text-success
                    | Online
        ul.sidebar-menu
            li.treeview
                a(href='/stok/stokshoe')
                    i.fa.fa-file
                    span
                        | Data Sepatu
            li
                a(href='/customers')
                    i.fa.fa-th
                    span
                        | Customer Member